**.egg-info/
**/__pycache__/
logs
secrets
**/*.secret
build
.venv
.coverage
.vscode
.pytest_cache
.ruff_cache

*.json
**/*.csv 

c_generated_code
mpc_c_generated_code
gpmpc_c_generated_code
wandb
.devcontainer/devcontainer.json
!.devcontainer/devcontainer.linux.json
!.devcontainer/devcontainer.wsl2.json
acados_c_code

artemis_exercise
artemis_solution
exercise
solution
tmp
results
saves
artemis_test_definitions
src/**/test/behavior/*.pkl
public_repo

hidden_depreciated_code
eval_plot.png
